@import "../font/roboto.css";

* {
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    vertical-align: middle
    zoom: 150%;
}

body {
    background: #222
}

img {
    border:1px solid #;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;  
    width: 8.5rem;
    height: 9rem;
}

main {
    display: block;
    position: relative;
    width: 50rem;
    margin: 3vh auto;
    padding: 1.5rem 0 0;
    background: #d5d5d5;
    outlineborder-radius: .25rem;
    overflow: hidden;
    transform: scale(.75);
    transform-origin: center 3rem;
    transition: transform .3s
}

body:hover main {
    transform: scale(1)
}

header {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    transition: transform .5s, opacity .3s;
    background: url(../img/googlebackground.png) center center;
    background-size: cover
}

input,
.card {
    position: relative;
    z-index: 2
}

input {
    display: block;
    width: 46rem;
    margin: 4.5rem 1rem 2rem;
    border: 0;
    font-size: 1.2rem;
    padding: .75rem 1rem;
    border-radius: 3px;
    box-shadow: 0 1px 2px #aaa;
    transition: .5s, margin-bottom .15s
}

input:focus {
    margin: 0 1rem 1rem;
    outline: 0
}

input:focus + header {
    transform: translate3d(0, -10rem, 0);
    opacity: 0
}

.card {
    padding: 1.5rem;
    box-shadow: 0 1px 2px #aaa;
    background: #fff;
    margin: 0 1rem 1rem;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left
}

.card:nth-child(even) {
    animation-name: fly-in-from-right;
    animation-delay: 1.1s;
    transform-origin: top right
}

@keyframes fly-in-from-left {
    from {
        transform: translateY(15rem) rotate(15deg);
        opacity: 0
    }
}

@keyframes fly-in-from-right {
    from {
        transform: translateY(15rem) rotate(-15deg);
        opacity: 0
    }
}
/*
.card:after {
    position: absolute;
    font-size: .9rem;
    top: 1.5rem;
    right: 1rem;
    content: "i";
    border: thin solid gray;
    color: gray;
    width: 1rem;
    line-height: 1rem;
    text-align: center;
    border-radius: 50%;
    pointer-events: none
}*/
h1 {
    font-size: 2rem;
    font-weight: 200;
    margin-bottom: 5px;
}
strong {
    font-weight: 300;
    color: #539D00
}
h2 {
    font-size: .9rem;
    line-height: 1.5;
    color: gray;
    font-weight: 400;
    margin-bottom: 15px;
}
.map {
    height: 12rem;
    background: #f5f5f5;
    margin: .5rem 0 0 -1.5rem;
    width: 28rem
}

.newfact {
  font-style: italic;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.nohighlight {
  text-decoration: none;
  color: black;
  font-style: normal;
}

.smallbreak {
  height: 7px;
}

.rightsmall {
  text-align: right;
  font-size: 10px;
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
    color: #d3d3d3;
    font-size: 85%;
}
.alignrightstock {
    float: right;
}

.alignmiddlestock {
    float: center;
}

.table {
    width: 100%;
}

.price {
    color: hsl(194, 73%, 51%);
}

.increaseyear {
    font-size: 12px;
    color: hsl(350, 55%, 49%);
}

.increaseday {
    font-size: 12px;
    color: hsl(350, 55%, 49%);
}

.space {
    height: 20px;
}

.positive {
    color: hsl(90, 55%, 44%);
}

.topright {
    position: fixed;
    top: 1em;
    right: 1em;
}

.credit {
    color: gray;
    text-align: center;
    padding-bottom: 20px;
}

.menu {
    width: 100%;
}