.stock {
  width: 168px;
  height: 65px;
  background-color: #CCC;
  position: relative;
  float: left;
  margin: 5px;
  -webkit-transition: box-shadow 0.2s ease;
          transition: box-shadow 0.2s ease;
}
.stock .symbol,
.stock .change {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.stock .symbol {
  top: 10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
.stock .change {
  top: 50%;
  font-size: 22px;
  font-weight: 700;
  -webkit-transform: translateY(-20%);
      -ms-transform: translateY(-20%);
          transform: translateY(-20%);
}
