.head {
  left: 150px;
  z-index: 1;
  position: absolute;
  width: 400px;
  height: 470px;
  background: #70B870;
  border: 8px solid #333;
}
.head:before, .head:after {
  position: absolute;
  content: '';
}
.head:before {
  width: 400px;
  height: 100px;
  background: #333;
}
.head:after {
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 50px solid #333;
  top: 100px;
}

.hair {
  position: absolute;
  z-index: 11;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #333;
  top: 100px;
  left: 240px;
}
.hair:before, .hair:after {
  position: absolute;
  content: '';
}
.hair:before {
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 80px solid #333;
  top: -50px;
  left: 10px;
}
.hair:after {
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 60px solid #333;
  top: -40px;
  left: 115px;
}

.bolts {
  width: 400px;
  height: 70px;
  top: 400px;
  left: 115px;
  position: absolute;
  border-right: 40px solid grey;
  border-left: 40px solid grey;
}

.stitch {
  position: absolute;
  z-index: 111;
  width: 200px;
  height: 2px;
  background: #333;
}
.stitch:before, .stitch:after {
  content: '';
  top: -10px;
  position: absolute;
  width: 50px;
  height: 25px;
  border-right: 2px solid #333;
  border-left: 2px solid #333;
}
.stitch:before {
  left: 15px;
}
.stitch:after {
  left: 120px;
}

#one {
  -webkit-transform: rotate(25deg);
  position: absolute;
  top: 300px;
  left: 375px;
}

#two {
  position: absolute;
  -webkit-transform: scale(0.5) rotate(-25deg);
  left: 100px;
  top: 320px;
}

.nose {
  z-index: 11;
  width: 90px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  border-top: 6px solid #333;
  left: 310px;
  top: 300px;
}
.nose:before, .nose:after {
  width: 40px;
  height: 30px;
  top: -5px;
  border-radius: 50%;
  position: absolute;
  content: '';
}
.nose:before {
  left: -20px;
  border-left: 4px solid #333;
  -webkit-transform: rotate(-30deg);
}
.nose:after {
  left: 65px;
  border-right: 4px solid #333;
  -webkit-transform: rotate(30deg);
}

.mouth {
  position: absolute;
  z-index: 11;
  top: 400px;
  left: 210px;
  width: 300px;
  height: 3px;
  background: #333;
}
.mouth:before, .mouth:after {
  width: 15px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  content: '';
  top: -12px;
}
.mouth:before {
  left: -15px;
  border-right: 2px solid #333;
}
.mouth:after {
  border-left: 2px solid #333;
  left: 300px;
}

.eye {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 11;
  top: 169px;
}
.eye:before {
  position: absolute;
  content: '';
  width: 60px;
  height: 80px;
  border-radius: 50%;
  top: 10px;
  left: 20px;
  background: #333;
  -webkit-animation: look 5s linear infinite;
}

@-webkit-keyframes look {
  0%, 100% {
    left: 5px;
  }
  50% {
    left: 36px;
  }
}
#eyeOne {
  left: 200px;
}

#eyeTwo {
  left: 400px;
}

.chin {
  width: 150px;
  height: 20px;
  position: absolute;
  z-index: 11;
  left: 275px;
  top: 400px;
  border-radius: 50%;
  border-bottom: 2px solid #333;
}

#words {
  position: absolute;
  top: 510px;
  left: 152px;
  font-family: sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-right: 200px;
  border-bottom: 1px solid #333;
}
#words h1, #words h2 {
  margin: 0;
}
#words h2 {
  letter-spacing: 0.5em;
}
#words h1 {
  font-size: 4em;
}
